<h2>Contact Me</h1>
<form id="contact" class="contact" action="/email">
  <ul class="social-media">
    <li><a href="https://github.com/hasanirogers"><iron-icon icon="appicons:github"></iron-icon></a></li>
    <li><a href="https://codepen.io/hasanirogers"><iron-icon icon="appicons:codepen"></iron-icon></a></li>
    <li><a href="https://www.linkedin.com/in/hasani-rogers-85523829"><iron-icon icon="appicons:linkedin"></iron-icon></a></li>
    <li><a href="https://twitter.com/hasanirogers"><iron-icon icon="appicons:twitter"></iron-icon></a></li>
  </ul>
  <section>
    <div>
      <p>
        <paper-input label="Name">
          <iron-icon icon="communication:contacts" slot="prefix"></iron-icon>
        </paper-input>
      </p>

      <p>
        <paper-input label="Phone">
          <iron-icon icon="communication:phonelink-ring" slot="prefix"></iron-icon>
        </paper-input>
      </p>

      <p>
        <paper-input label="Email">
          <iron-icon icon="communication:mail-outline" slot="prefix"></iron-icon>
        </paper-input>
      </p>
    </div>
    <div>
      <label for="message"><p>Message</p></label>
      <textarea id="message" placeholder="Message me maybe?"></textarea>
    </div>
  </section>
  <paper-button>Send me your questions.</paper-button>
</form>
