<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <script src="@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <link rel="import" href="/components/paper-input/paper-input.html">
  <link rel="import" href="/components/iron-icons/communication-icons.html">
  <link rel="import" href="/components/paper-button/paper-button.html">
  <link rel="import" href="/elements/icons.html">

  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
  <header>
    <img src="img/mug.jpg" />
    <div>
      <h1><%-title %></h1>
      <h2>Frontend Web Developer</h2>
    <div>
  </header>
