<% include header %>
  <section class="resume">
    <h3>Objective</h3>
    <div><p>I aim to build a better web through innovations with industry standards and leading technology.</p></div>

    <h3>Skills</h3>
    <div class="resume__skills">
      <ul>
          <li>Polymer</li>
          <li>Responsive/Adaptive Design</li>
          <li>Gulp, Browserify, Webpack</li>
          <li>Foundation 3 &ndash; 5</li>
          <li>WordPress/PHP/MySQL</li>
          <li>Polyfills/Legacy Support</li>
          <li>ES6/ES5/jQuery</li>
          <li>HTML5 Semantics + APIs</li>
          <li>SCSS/BEM/DRY</li>
          <li>Restful APIs</li>
          <li>SVN/Git</li>
          <li>Flexbox + CSS Grids</li>
          <li>Maven Frontend Integration</li>
          <li>AEM 6+</li>
        </ul>
      </div>

      <h3>Websites</h3>
      <ul>
        <li><a href="http://medexpress.com">MedExpress</a></li>
        <li><a href="http://optum.com">Optum</a></li>
        <li><a href="http://youandwalgreens.com">Walgreens</a></li>
        <li><a href="http://experienceonstar.com">OnStar</a></li>
        <li><a href="https://www.navy.com">Navy</a></li>
      </ul>

      <h3>Professional Accomplishments</h3>
      <div class="resume__professional-accomplishments">
        <ul>
          <li>Built internal Flexbox based frontend layout system. Received formal cert to recongition of innovation for doing so.</li>
          <li>Integrated node js front end tooling with Maven for Java projects including AEM installs.</li>
          <li>Built internal developer focused WordPress theme framework which significantly reduced overhead resulting in a $10 million in profits for OnStar AOR in 2014.</li>
          <li>Created "Interactive Post" functionality in WordPress framework which allowed a single post to be treated as a Single Page App via package management for awesome (content controlled) brand experiences.</li>
        </ul>
      </div>

      <h3>Work History</h3>
      <div>
        <h4>April 2014 - Present</h4>
        <p>Sr Web Developer, Optum, Southfield, MI</p>

        <h4>January 2011 - April 2014</h4>
        <p>Sr Web Application Developer, Campbell Ewald, Detroit, MI</p>

        <h4>October 2010 - December 2011</h4>
        <p>Frontend Web Developer, Bluewater Technologies, Southfield, MI</p>

        <h4>October 2009 - October 2010</h4>
        <p>Web Developer, 248 Lawyers P.C., Madison Heights, MI</p>

        <h4>September 2007 - March 2009</h4>
        <p>Web Designer, Tell Visions Networks, Shelby Township, MI</p>

        <h4>January 2007 - September 2007</h4>
        <p>Web Designer, Henry Ford Community College, Dearborn, MI</p>
      </div>

      <h3>Education</h3>
      <div>
        <div>A.A.S. Computer Information Science</div>
        <div>Henry Ford Community College</div>
        <div>Dearborn, MI</div>
      </div>
  </section>
<% include footer %>
