<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Hasani Rogers">
  <meta name="keywords" content="developer, front end, front end developer, web components, lit element">
  <meta name="description" content="I am Front End Developer who specializes in the presentation layer of the web. I'm also a proponent of web components.">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="app/app.css">

  <script>if (!window.customElements) { document.write('<!--');}</script>
  <script type="text/javascript" src="@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
  <!-- do not remove this comment -->
  <script src="@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
</head>
<body>
  <header class="header">
    <div>
      <img src="img/mug.jpg" />
      <div class="header__name">
        <h1>Hasani Rogers</h1>
        <h2>Frontend Web Developer</h2>
      </div>
      <me-social header></me-social>
    </div>
  </header>
  <main>
    <me-social main></me-social>
    <% include ./partials/resume.html %>
  </main>
  <footer>
    <h2>Contact me</h2>
    <me-contact></me-contact>
  </footer>
  <script src="app/app.js"></script>
</body>
</html>
