$colorwhite: rgb(238, 238, 238);
$colorblack: #101010;
$colorgray: #404040;
$colorprimary: #d06f00;
$colorsecondary: #0069cc;

$pagewidth: 1280px;
$breakpoint: 640px;

$infosuccess: green;
$infoerror: red;

%layoutdiv {
  max-width: 1280px;
  border-bottom: 4px solid $colorblack;
}

html {
  overflow-x: hidden;
  border-top: 10px solid $colorblack;
}

html:after {
  content: " ";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

body {
  font: 14px 'Ubuntu', sans-serif;
  color: $colorblack;
  margin: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/tree.png');
}

a {
  color: $colorsecondary;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 0;
  line-height: 1.2;
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

h2 {
  margin: 0 0 1rem 0;
  text-transform: lowercase;
}

h2,
h3 {
  color: $colorprimary;
}

header {
  margin: 1rem 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  @extend %layoutdiv;
  img {
    display: block;
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 100px;
    margin-right: 1rem;
    border-radius: 50%;
    border: 4px solid $colorblack;
  }
}

.resume {
  color: $colorblack;
  padding: 2rem;
  margin: 0 auto;
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  h3 {
    margin: 2rem 0 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $colorblack;
  }
  h3:after {
    content: ":";
  }
  h4 {
    color: $colorgray;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  ul {
    margin: 0 0 1rem 0;
    padding: 0 0 0 1rem;
    line-height: 1.5;
  }
  &__skills {
    font-size: 0.8rem;
    column-width: 50vw;
    margin-bottom: 1rem;
    ul {
      margin: 0 0 1rem 0;
      padding: 0;
      list-style: none;
    }
    li:before {
      content: "⚫";
      font-size: 90%;
      display: inline-block;
      margin-right: 1rem;
      transform: translateY(-3px);
    }
  }
  &__professional-accomplishments {
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.contact {
  color: $colorwhite;
  background: $colorblack;
  text-align: center;
  padding-top: 2rem;

  label {
    font-size: 0;
    text-indent: -9999;
    visibility: hidden;
  }

  section {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  section > :first-child {
    margin-left: 2rem;
  }

  paper-input {
    width: 90%;
    text-align: left;
    --primary-text-color: #6e6c69;
  }

  iron-icon {
    color: $colorwhite;
    margin-right: 1rem;
    margin-bottom: 4px;
    transition: all 300ms ease;
  }

  iron-icon:hover {
    fill: $colorsecondary;
  }

  textarea {
    color: #6e6c69;
    line-height: 1.5;
    width: 70%;
    height: 100%;
    height: 184px;
    margin: 1rem 2rem;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid #6e6c69;
    background: rgba(255, 255, 255, 0.05)
  }

  paper-button {
    letter-spacing: 1px;
    width: 80%;
    font-weight: bold;
    padding: 1.5rem;
    text-transform: unset;
    margin-bottom: 2rem;
    border-radius: 4px;
    background: $colorsecondary;
    transition: all 300ms ease;
  }

  paper-button:hover {
    background: #1d76c4;
  }

  img {
    width: 48px;
    display: none;
  }

  &__validation-message {
    font-weight: bold;
    color: $infoerror;
    visibility: hidden;

    &--show {
      visibility: visible;
    }
  }

  &--loading {
    span {
      display: none;
    }

    img {
      display: inline-block;
    }
  }

  &--success {
    paper-button {
      color: $colorwhite;
      background: $infosuccess;
    }
  }

  &--error {
    paper-button {
      color: $colorwhite;
      background: $infoerror;
    }
  }

}

.social-media {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 0 1rem 0;
  padding: 0;
  a {
    color: $colorwhite;
  }
  li {
    flex: 0 0 auto;
  }
  [icon] {
    --iron-icon-height: 64px;
    --iron-icon-width: 64px;
  }
}

footer h2 {
  max-width: $pagewidth;
  margin: 2rem;
  padding-top: 2rem;
  border-top: 4px solid $colorblack;
}

@media (min-width: $breakpoint) {
  header {
    img {
      position: static;
    }
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 0.9rem;
    text-align: right;
    padding: 0;
  }
  .resume {
    max-width: 1140px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    h3 {
      margin: 0 2rem 0 0;
      border-bottom: none;
    }
    &__skills {
      column-width: 20vw;
    }
  }
  .contact {
    section {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    textarea {
      width: 80%;
    }

    paper-input {
      width: 100%;
    }

    paper-button {
      width: 40%;
      margin: 1rem auto 2rem auto;
    }
  }
  .social-media {
    max-width: $breakpoint;
    margin: 0 auto 1rem auto;
    [icon] {
      --iron-icon-height: 96px;
      --iron-icon-width: 96px;
    }
  }
}

@media (min-width: $pagewidth) {
  header {
    margin: 1rem auto;
  }

  footer h2 {
    margin: 2rem auto;
  }
}
