.resume {
    color: $colorwhite;
    font-size: 1.1rem;
    padding: 2rem;
    margin: 0 auto;

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3 {
        margin: 2rem 0 1rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid $colorblack;
    }

    h3::after {
        content: ':';
    }

    h4 {
        color: $colorwhite;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }

    ul {
        margin: 0 0 1rem 0;
        padding: 0 0 0 1rem;
        line-height: 1.5;
    }

    &__skills {
        font-size: 0.8rem;
        column-width: 50vw;
        margin-bottom: 1rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li::before {
            content: '⚫';
            font-size: 90%;
            display: inline-block;
            margin-right: 1rem;
            transform: translateY(-3px);
        }
    }

    &__professional-accomplishments {
        li {
            margin-bottom: 0.5rem;
        }
    }

    &__websites {
        list-style: none;
        display: inline-flex;
        flex-wrap: wrap;

        li:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

@media (min-width: $breakpoint) {
    .resume {
        max-width: 1140px;
        display: grid;
        grid-template-columns: 1fr 5fr;

        h3 {
            margin: 0 2rem 0 0;
            border-bottom: 0;
        }

        &__skills {
            column-width: 20vw;
        }
    }
}
